body{
    background-color: rgb(214, 209, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.input{
    width: 500px;
    border: 1px solid black;
}
.navbar{
    padding: 14px;
}
